.friend {
    display: flex;
    width: 110px;
    flex-direction: column;
    border: 1px #000 solid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
p {
    margin: 0;
}
.status {
    color: red;
    font-size: 14px;
}
.online {
    color: green;
}